@charset "UTF-8";
:root {
  --akcent-color: #2196f3;
  --second-color: #757575;
  --background: #f5f4fa;
  --white-color: #ffffff;
  --gradient: rgba(47, 48, 58, 0.4);
  --kubik: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-main, .header__kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__pf-list, .header__kontakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.header__mob-menu ul, .sub-menu, .portfolio__filter, .portfolio__list-project, .footer__push-net, .footer__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

/* 
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: ;
}
 */
/* .is-hidden {
  opacity: 0;
  z-index: 0;
} */
/*оформляем шапку  */
/* логотип */
.container-h {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) and (max-width: 767.5px) {
  .container-h {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .container-h {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-h {
    width: 1200px;
  }
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.5px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767.5px) {
  .header__nav-main nav {
    display: none;
  }
}

.header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}

.header__logo span {
  color: var(--akcent-color);
}

@media screen and (max-width: 767.5px) {
  .header__logo {
    padding: 16px 0;
  }
}

/* .logo:hover,
.logo:focus {
  text-decoration: underline var(--akcent-color);
} */
.header__pf-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  letter-spacing: 0.02em;
  list-style: none;
}

.header__pf-list .header__list:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  display: block;
  text-decoration: none;
  list-style: none;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* начинаю делать нижнее подчеркивание на текущей странице */
}

.header__link.header--current {
  position: relative;
  color: var(--akcent-color);
  text-decoration: none;
}

.header__link.header--current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background: var(--akcent-color);
  border-radius: 2px;
}

.header__link:hover, .header__link:focus {
  color: var(--akcent-color);
}

.header__kontakt {
  text-decoration: none;
  color: var(--second-color);
  font-family: Roboto;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--kubik), fill var(--kubik);
  transition: color var(--kubik), fill var(--kubik);
}

.header__kontakt-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__kontakt:hover, .header__kontakt:focus {
  color: var(--akcent-color);
  fill: var(--akcent-color);
}

.header__kontakt:not(:last-child) {
  margin-right: 50px;
}

.header__nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767.5px) {
  .header__nav-flex {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .header__nav-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__kontakt:first-child {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media screen and (max-width: 767.5px) {
  .header__button {
    padding: 0;
    border: 0;
    margin-left: auto;
    background-color: transparent;
    overflow-y: scroll, hidden;
  }
  .header__button.is-open {
    position: fixed;
    z-index: 2;
    top: 10px;
    right: 15px;
    overflow-y: scroll;
  }
  svg:hover,
  svg:focus {
    fill: var(--akcent-color);
  }
  .header__ico-cross {
    display: none;
  }
  .is-open .header__ico-cross {
    display: block;
  }
  .is-open .header__icomenu {
    display: none;
  }
}

@media screen and (min-width: 767.5px) {
  .header__button {
    display: none;
  }
}

.header {
  position: relative;
}

.header__mob-menu {
  display: none;
}

.header__mob-menu nav {
  margin-bottom: auto;
}

.header__mob-menu address {
  margin-bottom: 64px;
}

.menu-list__mob:not(:last-child) {
  margin-bottom: 32px;
}

.menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-list__link.current {
  color: var(--akcent-color);
}

.menu-list__link:hover, .menu-list__link:focus {
  color: var(--akcent-color);
}

.header__mob-menu ul a {
  text-decoration: none;
}

.adress-menu__list:first-child {
  margin-bottom: 32px;
}

.adress-menu__list .adress-menu__link {
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.adress-menu__list .adress-menu__link.link--tel {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--akcent-color);
}

.adress-menu__list .adress-menu__link:hover, .adress-menu__list .adress-menu__link:focus {
  color: var(--akcent-color);
}

.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sub-menu .sub-menu__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196f3;
}

.sub-menu .sub-menu__list:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 767.5px) {
  .header__mob-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    padding: 48px 83px 48px 40px;
    overflow-y: scroll;
    z-index: 1;
  }
}

/* начинаю оформление кнопок */
.portfolio {
  /* margin-top: 94px; - спорный момент */
}

@media screen and (max-width: 1199.5px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* .frame {
} */
.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filter .portfolio__list-button:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .portfolio__filter {
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio__list-project {
    padding-top: 40px;
  }
  .portfolio__filter {
    margin-bottom: -15px;
    margin-right: -8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .portfolio__list-button {
    margin-bottom: 15px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.5px) {
  .portfolio__filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 40px;
    margin-bottom: 0;
  }
  .portfolio__filter .portfolio__list-button:nth-child(-n + 2) {
    margin-bottom: 15px;
  }
  .portfolio__filter .portfolio__list-button:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.portfolio__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  color: var(--white-color);
  background-color: var(--akcent-color);
}

/* начинаю делать секцию с проэктами */
.portfolio__link-projekt {
  text-decoration: none;
  color: inherit;
}

.portfolio__list-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* margin: -15px; - древний способ */
  /* margin: -15px -15px; */
  /* адаптивный метод  */
  /* margin-right: -30px;
  margin-top: -30px; */
}

/* олдскул */
/* .list-project .item {
  margin: 15px 15px;
} */
/* чере функци calc адаптивный способ */
/* .list-project .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
} */
.portfolio__item {
  position: relative;
  width: 370px;
  /* margin: 15px; - древний способ */
  margin-right: 30px;
  background-color: var(--white-color);
  -webkit-transition: -webkit-box-shadow var(--kubik);
  transition: -webkit-box-shadow var(--kubik);
  transition: box-shadow var(--kubik);
  transition: box-shadow var(--kubik), -webkit-box-shadow var(--kubik);
}

.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio__item:nth-last-child(-n + 6) {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767.5px) {
  .portfolio__item {
    width: 450px;
    margin-right: 0;
  }
  .portfolio__item:nth-last-child(-n + 8) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .portfolio__item {
    width: 354px;
    margin-right: 30px;
  }
  .portfolio__item:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio__item:nth-last-child(-n + 7) {
    margin-top: 30px;
  }
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* .title:hover {
  color: var(--akcent-color);
  cursor: default;
} */
.portfolio__desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.portfolio__desc-item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio__move-up {
  position: relative;
  overflow: hidden;
}

.portfolio__desc-card {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  letter-spacing: 0.03em;
  -webkit-transition: opacity var(--kubik), -webkit-transform var(--kubik);
  transition: opacity var(--kubik), -webkit-transform var(--kubik);
  transition: transform var(--kubik), opacity var(--kubik);
  transition: transform var(--kubik), opacity var(--kubik), -webkit-transform var(--kubik);
  /* overflow: hidden; */
  opacity: 0;
}

.portfolio__item:hover .portfolio__desc-card,
.portfolio__item:focus .portfolio__desc-card {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: opacity var(--kubik), -webkit-transform var(--kubik);
  transition: opacity var(--kubik), -webkit-transform var(--kubik);
  transition: transform var(--kubik), opacity var(--kubik);
  transition: transform var(--kubik), opacity var(--kubik), -webkit-transform var(--kubik);
}

@media screen and (max-width: 400px) {
  .portfolio__desc-card {
    padding: 2px;
    text-align: center;
  }
}

/*начинаю работу над футером */
.footer__right-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.5px) {
  .footer__right-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .footer__right-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__otstup {
  margin-right: 70px;
}

@media screen and (max-width: 767.5px) {
  .footer__otstup {
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .footer__otstup {
    text-align: center;
    margin-right: 165px;
  }
}

.footer__address {
  /* max-width: 231px;
  margin-right: 70px; */
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer__address-kontakt {
  display: inline;
}

.footer {
  background: #2f303a;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__info:hover, .footer__info:focus {
  color: var(--akcent-color);
}

.footer__info:first-child {
  display: inline-block;
  margin-bottom: 9px;
}

.footer__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.footer__logo span {
  color: var(--akcent-color);
}

/* начинаю делать ссылки на соц-сети */
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 12px;
  margin-right: 93px;
}

@media screen and (max-width: 767.5px) {
  .footer__flex {
    margin-right: 0;
    padding: 60px 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .footer__flex {
    text-align: center;
    margin-right: 0;
    padding-top: 5px;
  }
}

.footer__push-net {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.footer__link:not(:last-child) {
  margin-right: 10px;
}

.footer__link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--kubik);
  transition: background-color var(--kubik);
}

.footer__link-icon:hover, .footer__link-icon:focus {
  background-color: var(--akcent-color);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__link-svg {
  fill: var(--white-color);
}

/* .footer-link:hover {
  background-color: var(--akcent-color);
} */
/* начинаю делать форму на подписку  */
.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 12px;
}

@media screen and (max-width: 1199.5px) {
  .footer__subscribe {
    width: 100%;
    padding-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199.5px) {
  .footer__subscribe div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .footer__subscribe {
    padding: 0;
    margin-top: 60px;
  }
}

.footer__sign-up {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__sign-up-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px 10px 29px;
  color: var(--white-color);
  background-color: var(--akcent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.footer__put-sign {
  width: 358px;
  height: 50px;
  margin-right: 10px;
  padding: 15px 16px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border var(--kubik);
  transition: border var(--kubik);
}

@media screen and (max-width: 1199.5px) {
  .footer__put-sign {
    max-width: 450px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer__put-sign::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__put-sign:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__put-sign::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__put-sign::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__put-sign:focus {
  border: 1px solid var(--akcent-color);
  outline: none;
}

.footer__send-svg {
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */