.header {
  position: relative;
}
.header__mob-menu {
  display: none;

  nav {
    margin-bottom: auto;
  }

  address {
    margin-bottom: 64px;
  }
}

.menu-list__mob:not(:last-child) {
  margin-bottom: 32px;
}

.menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;

  &.current {
    color: var(--akcent-color);
  }

  &:hover,
  &:focus {
    color: var(--akcent-color);
  }
}

.header__mob-menu ul {
  @extend %reset-style;

  & a {
    text-decoration: none;
  }
}

.adress-menu__list {
  &:first-child {
    margin-bottom: 32px;
  }

  .adress-menu__link {
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--second-color);
    &.link--tel {
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: var(--akcent-color);
    }

    &:hover,
    &:focus {
      color: var(--akcent-color);
    }
  }
}

.sub-menu {
  @extend %reset-style;
  display: flex;
  flex-wrap: wrap;

  .sub-menu__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    letter-spacing: 0.02em;

    color: #2196f3;
  }

  .sub-menu__list:not(:last-child)::after {
    content: "";

    margin-left: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (max-width: 767.5px) {
  .header__mob-menu.is-open {
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    //   top: 50%;
    //   left: 50%;

    //   transform: translate(-50%, -50%);
    background-color: var(--white-color);
    padding: 48px 83px 48px 40px;
    overflow-y: scroll;
    z-index: 1;
  }
}
