/* Начинаю оформлять секцию "Наша команда" */
.our-team {
  @extend %basic-padding;
  background: #f5f4fa;

  @media screen and (max-width: 1199.5px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title-section {
    padding: 0;
    @media screen and (max-width: 1199.5px) {
      margin-bottom: 30px;
      font-size: 28px;
    }
  }
}

.our-team__li {
  background-color: var(--white-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767.5px) {
    max-width: 450px;
    width: 100%;
  }

   @media screen and (min-width: 768px) and (max-width: 1199.5px) {
     max-width: 354px;
     width: 100%;
   }

  &:not(:last-child) {
    margin-right: 30px;
    @media screen and (max-width: 767.5px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
     @media screen and (min-width: 768px) and (max-width: 1199.5px){
    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-child(-n+2) {
      margin-bottom: 30px;
    }
  }
  }

  .our-team__disc {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.our-team__list-img {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;

  @media screen and (max-width: 767.5px) {
    display: block;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.5px){
    flex-wrap: wrap;
  }
}

.our-team__title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.our-team__disc-team {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

/* начинаю офрмлять иконки в карточке */
.our-team__link {
  @include centerFlex();
  list-style: none;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.our-team__link-icon {
  @include centerFlex();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #afb1b8;
  transition: background-color var(--kubik), fill var(--kubik);

  &:hover,
  &:focus {
    background-color: var(--akcent-color);
    fill: var(--white-color);
    stroke: transparent;
  }
}

.our-team__list-icon {
  @extend %reset-style;
  display: flex;
  justify-content: center;
}
